html.body {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
}

.calculation {
  color: white;
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 1px;
}

.js-gray-button,
.js-orange-button {
  background-color: rgb(53, 52, 52);
  border: none;
  color: white;
  font-size: 20px;
  font-family: arial;
  border-radius: 50px;
  padding: 20px;
  margin: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.js-orange-button {
  background-color: orange;
}

.js-clear-button {
  background-color: red;
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
  font-size: 20px;
  font-family: arial;
  border: none;
  cursor: pointer;
  margin: 10px;
}
